# =========================
# Environment variables
# =========================
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

# =========================
# Ignore folders
# =========================
Data/
DeploySheet/

# =========================
# Node.js
# =========================
node_modules/

# =========================
# OS junk
# =========================
.DS_Store
